body {
  color: var(--color-font);
  font-size: 16px;
  line-height: 1;
  word-break: keep-all;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}
/* Header */
header {
  background-color: #3A3A3A;

}
header .inner {
  max-width: 1020px;
  height: 0 auto;
}

/* Header / Menu */
header ul.menu {
  height: 44px;
  display: flex;
  justify-content: space-between;
}
header ul.menu li {
  display: flex;
}
header ul.menu li a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 11px;
  color: #F5F5F5;
  opacity: .8;
  text-decoration: none;
}
header ul.menu li:hover > a {
  opacity: 1;
}
